<IfModule mod_rewrite.c>
  AddHandler application/x-httpd-ea-php80 .php .php8  
  RewriteEngine On
  Options -Indexes 
  RewriteBase / 
  RewriteCond %{REQUEST_FILENAME} !-f 
  RewriteCond %{REQUEST_FILENAME} !-d 
  # Akses Halaman
  RewriteRule ^ui/header.php header.php?page=$1 [L]
  RewriteRule ^ui/header.php header.php?page=$1&aksi=$1 [L]
  # Aksi Akses
  RewriteRule ^ui/header.php header.php?aksi=$1 [L]
</IfModule>